{
    email {$LETSENCRYPT_EMAIL}
}

{$DOMAIN_NAME} {
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy backend:3001
    }

    @doctor path /doctor /doctor/*
    handle @doctor {
        uri strip_prefix /doctor
        reverse_proxy doctor-portal:3000
    }

    @patient path /patient /patient/*
    handle @patient {
        uri strip_prefix /patient
        reverse_proxy patient-portal:3002
    }

    handle / {
        redir /patient permanent
    }

    encode gzip
    header {
        Strict-Transport-Security max-age=31536000;
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer-when-downgrade
    }
}
