/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

body {
  background-color: #fafbfc;
  color: #111827;
  line-height: 1.6;
}
